@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    display: flex;
	background: #eee;
    min-width: 100vw;
    min-height: 100vh;

    overflow-x: hidden;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

    background: #224C2E;
    color: #FFF;

}

.container__header-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100%;
    height: 100%;
    padding: 10px;
}

.header__menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
    list-style: none;
    margin: 0;
    padding: 0;

    gap: 10px;
}

.container__header-logo img {
    width: 222px;
}

.header__menu-item {
    width: 100%;
    font-size: 18px;
    border-radius: 0.5rem;
    border: 1px solid transparent;
}
    .header__menu-item:hover {
        transition: 200ms;
        background-color: #286339;
    }


.header__menu-item.active {
    background-color: #286339;
}
    

.header__menu-item a {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
    padding: 15px;

    /*letter-spacing: 1px;*/
}

.header__menu-item a div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 8px;
    border-radius: 0.25rem;
    background-color: #265834;
}


.container_header{
    background-color: #70BC24;
    width: 100%;
    height: 70px;
}

.container_header img{
    height: 70px;
}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form input{
    width: 200px;
    margin-top: 10px;
    border-radius: 10px;
    border-width: 1px;
}

.form button{
    width: 150px;
    margin-top: 10px;
    background-color: #70BC24;
    border: none;
    border-radius: 10px;
    color: white;
}

.container_login{
    background-color: #E6E6E5;
}

.msj_error {
    font-size: 14px;
    color: red;
}



/* ESTILOS SELECT2 */
.select2-container {
    width: 100% !important;
    text-align: start;
}

.select2-selection {
    height: auto !important;
    border-color: #D5D5D5 !important;
    outline: 0;
}

.select2-selection__rendered {
    padding: 11px !important; 
    line-height: inherit !important;
    font-size: 15px;
}

.select2-selection__arrow {
    height: 46px !important;
    top: 0 !important;
    right: 0 !important;
}


.select2-dropdown {
    border-color: #B7B7B7;
}

.select2-search__field {
    border-color: #D5D5D5 !important;
    outline: 0;
}

.select2-container--default .select2-results__option--selected {
    background-color: #EEE !important;
    color: #000 !important;
}

.select2-container--open .select2-selection,
.select2-search__field:focus  {
    border-color: #B7B7B7 !important;
}


.select2-container--default .select2-results__option--selected:hover {
    background-color: #5897FB !important;
    color: #FFF !important;
}
/* FIN ESTILOS SELECT2 */



/* ESTILOS MENSAJES DE ERROR */
.alert_msj {
    width: fit-content;
    background: #FFA425;
    color: #FFF;
    padding: 7px 12px;
    border-radius: 1.5rem;
    font-size: 15px;
    font-weight: 600;
    position: fixed;
    top: 2.5rem;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 150;
    animation: shake 0.25s;

    overflow: hidden;
}

.msj_success {
    background: #009F20;
    border: 1px solid #009F20;
}

.msj_error {
    background: #D00000;
    border: 1px solid #D00000;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }

    75% {
        transform: translateX(-5px);
    }

    100% {
        transform: translateX(0);
    }
}

#border_msj {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid white;  /* Ancho del borde blanco */
    z-index: 50;
    animation: border-animation linear;
}

@keyframes border-animation {
    0% {
        width: 100%;
    }

    100% {
        width: 0;
    }
}
/* FIN ESTILOS MENSAJES DE ERROR */

.form-check-input {
    width: 40px !important;
    cursor: pointer;
}
