.modal-content {
    max-width: 650px;
}

.modal-inputs-double {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 20px;
}

.modal-inputs-double div{
    width: 100%;
}

.container-check-delivery {
    padding-top: 20px;
    border-top: 1px dashed #d5d5d5;
}


.celd-products b {
    font-weight: 600;
}



.container__product-orders {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 100px auto;
    align-items: start;
    gap: 0px 10px;
}


.container__info-delivery{
    display: none;
    flex-direction: column;
    gap: 20px;
}

#modal__update,
#modal__create {
    padding-top: 10px;
}
